.DS_Store
train-station/train-station.xcodeproj/project.xcworkspace/xcuserdata/szkuras.xcuserdatad/UserInterfaceState.xcuserstate
train-station/train-station.xcodeproj/xcuserdata/szkuras.xcuserdatad/xcschemes/xcschememanagement.plist
train-station/train-station.xcodeproj/project.xcworkspace/xcuserdata/Ania.xcuserdatad/UserInterfaceState.xcuserstate
train-station/train-station.xcodeproj/xcuserdata/Ania.xcuserdatad/xcschemes/xcschememanagement.plist
